// 한글 - 기본
// @import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;500;600;700;900&display=swap");

// 영어
// @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800;900&display=swap");

* {
  box-sizing: border-box;
  // font-family: "Nanum Myeongjo", "Apple SD Gothic Neo", "Noto Sans KR",
  //   "Montserrat", serif;
  // font-family: 'Noto Serif KR', serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif KR", serif;
  font-weight: 900;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// 지구 아이콘 wiggle 효과
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(1deg);
  }
  95% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// planet 위아래 효과
@keyframes fluffing {
  0% {
    transform: translateX();
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(1deg);
  }
  95% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

//
// Home.jsx
// p5 파티클 캔버스
.p5Canvas {
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  z-index: -99999;
}

//
// 메뉴바 부분
// 햄버거 버튼
.hamburger {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 30px;

  opacity: 0.8;
  transition: 0.3s;
  z-index: 100;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
.openHamburger {
  // X 가 메뉴바 밖으로 나오게
  // right : 440px;

  // X 가 메뉴바 안으로 들어가게
  right: 330px;
}
.closeHamburger {
  right: 30px;
}
// 햄버거버튼 : 객체 3개
.one {
  position: relative;
  top: 0px;
  width: 37px;
  height: 1px;
  background-color: white;

  transition: 0.4s;
  border-radius: 1px;
  transform-origin: left top;
}
.two {
  position: relative;
  top: 9px;
  width: 37px;
  height: 1px;
  background-color: white;

  transition: 0.4s;
  border-radius: 1px;
}
.three {
  position: relative;
  top: 18px;
  height: 1px;
  background-color: white;

  transition: 0.4s;
  border-radius: 1px;
  transform-origin: left bottom;
}
// 햄버거 버튼 객체: Open
.openOne {
  transform: rotate(40deg);
  width: 30px;
}
.openTwo {
  opacity: 0;
}
.openThree {
  transform: rotate(-40deg);
  width: 30px;
  top: 17.6px;
}
// 햄버거 버튼 객체: Close
.closeOne {
  transform: rotate(0deg);
  width: 37px;
}
.closeTwo {
  opacity: 1;
}
.closeThree {
  transform: rotate(0deg);
  width: 37px;
}

// 메뉴바 부분 (메뉴 컨텐츠)
.contents {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 400px;
  height: 100vh;
  background-color: #12052a;

  opacity: 0.7;
  transition: 0.6s;
  z-index: 10;
}
.openContents {
  right: 0px;
}
.closeContents {
  right: -400px;
}

//
// SignUp 부분
// .signup-btn {
//   position: absolute;
//   width: 6%;
//   top: 19%;
//   left: 30%;

//   transition: 0.3s;
//   opacity: 0.6;
//   &:hover {
//     opacity: 1;
//   }
// }

// //
// // Login 부분
// .login-btn {
//   position: absolute;
//   width: 7%;
//   top: 63%;
//   left: 30%;

//   transition: 0.3s;
//   opacity: 0.6;
//   &:hover {
//     opacity: 1;
//   }
// }

// //
// // MyPlanet 부분
// .my-planet-btn {
//   position: absolute;
//   width: 6%;
//   top: 35%;
//   left: 64%;

//   transition: 0.3s;
//   opacity: 0.6;
//   &:hover {
//     opacity: 1;
//   }
// }

//
// Earth 부분
// .earth-btn {
//   position: absolute;
//   left: 38%;
//   top: 26%;
//   width: 22%;
//   padding: 0px;
//   margin: 0px;

//   transition: 0.3s;
//   opacity: 0.9;
//   animation: wiggle 7.5s infinite;

//   &:hover {
//     opacity: 1;
//   }
// }
// .earth {
//   width: 100%;
//   height: 100vh;
//   border: 0;
//   padding: 0;

//   display: flex;
//   justify-content: center;
//   align-items: center;

//   background-color: black;
//   // background-image: url("https://www.kolpaper.com/wp-content/uploads/2020/04/Earth-Surface-Hd-Wallpaper.jpg");
//   background-image: url("../styles/images/earth2.png");
//   background-size: cover;
//   background-position: center;
// }
// // 메인 검은색 컨테이너
// .earth-main-container {
//   width: 85%;
//   height: 85%;

//   background-color: rgba(0, 0, 0, 0.7);
// }
// // 지구 게시판 메뉴 부분
// .earth-main-menu {
//   color: white;
//   display: grid;
//   // margin: 5em;
//   width: 100%;
//   height: 100%;

//   place-items: center;
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
//   row-gap: 1em;
//   column-gap: 1em;

//   .petloss {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     align-items: center;

//     background-color: rgba(0, 0, 0, 0.6);
//     width: 100%;
//     height: 100%;
//     border: 1px solid rgba(255, 255, 255, 0.6);

//     transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
//     transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

//     grid-column-start: 3;
//     grid-column-end: 6;
//     grid-row-start: 3;
//     grid-row-end: 12;

//     p {
//       margin-top: 30px;
//       font-size: 2rem;
//       font-weight: 600;
//       text-align: center;
//     }

//     a {
//       img {
//         position: relative;
//         margin-left: auto;
//         margin-right: auto;
//         text-align: center;
//         left: 15%;
//         width: 70%;
//         overflow: hidden;
//       }

//       &:hover {
//         text-decoration: none;
//       }
//       &:visited {
//         color: white;
//       }
//     }

//     &:hover {
//       background-color: rgba(0, 0, 0, 0.8);
//     }
//   }

//   // 원래는 free
//   .recover {
//     background-color: #00000099;
//     width: 100%;
//     height: 100%;
//     border: 1px solid rgba(255, 255, 255, 0.6);

//     transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
//     transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

//     grid-column-start: 4;
//     grid-column-end: 9;
//     grid-row-start: 3;
//     grid-row-end: 6;

//     .title {
//       margin-top: 10px;
//       margin-left: 20px;
//       margin-bottom: 17px;
//       font-weight: 600;
//     }

//     .list {
//       margin-top: 4px;
//       margin-left: 40px;

//       span {
//         margin-left: 20px;
//       }
//     }

//     a {
//       &:hover {
//         text-decoration: none;
//       }
//       &:visited {
//         color: white;
//       }
//     }

//     &:hover {
//       background-color: rgba(0, 0, 0, 0.8);
//     }
//   }

//   // .recover {
//   //   background-color: rgba(0, 0, 0, 0.6);
//   //   width: 100%;
//   //   height: 100%;
//   //   border: 1px solid rgba(255, 255, 255, 0.6);

//   //   transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
//   //   transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

//   //   grid-column-start: 6;
//   //   grid-column-end: 9;
//   //   grid-row-start: 3;
//   //   grid-row-end: 12;

//   //   .title {
//   //     margin-top: 10px;
//   //     margin-left: 20px;
//   //     margin-bottom: 17px;
//   //     font-weight: 600;
//   //   }

//   //   .list {
//   //     margin-top: 4px;
//   //     margin-left: 40px;

//   //     span {
//   //       margin-left: 20px;
//   //     }
//   //   }

//   //   a {
//   //     &:hover {
//   //       text-decoration: none;
//   //     }
//   //     &:visited {
//   //       color: white;
//   //     }
//   //   }

//   //   &:hover {
//   //     background-color: rgba(0, 0, 0, 0.8);
//   //   }
//   // }
// }
// .earth-petloss-menu {
//   background-color: #12052a;
//   width: 350px;
//   height: 500px;
//   color: white;
// }
// .earth-free-menu {
//   background-color: aquamarine;
//   width: 500px;
//   height: 200px;
//   margin-bottom: 10px;
// }
// .earth-recover-menu {
//   background-color: aqua;
//   width: 500px;
//   height: 200px;
// }
// // 자유 게시판
// .earth-free-tag {
//   .title {
//     display: inline-block;
//     margin-top: 0.5em;
//     margin-bottom: 1em;

//     color: #ffffff;
//     font-size: large;
//     font-weight: 600;
//     transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
//     transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

//     // &:hover {
//     //   color: #ffffff;
//     // }
//   }

//   .tag-list {
//     a {
//       transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
//       transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
//       opacity: 0.5;

//       &:hover {
//         color: white;
//         opacity: 1;
//         text-decoration: none;
//       }

//       &:visited {
//         color: #ffffff;
//         text-decoration: none;
//       }
//     }

//     div {
//       display: inline;
//       position: relative;
//       margin-right: 1em;
//       padding: 0.2em 0.65em;
//       border-radius: 2em;
//       border: solid #494949 0.1em;
//     }
//   }
// }
// // 원래는 free 였음
// .earth-recover-list {
//   margin-top: 1em;
//   // background-color: rgba(255, 255, 255, 0.7);
//   background-color: rgba(0, 0, 0, 0.7);
//   padding: 0.1em;
//   margin-top: 1em;
//   height: 75%;
//   color: white;
//   border: 1px solid rgba(255, 255, 255, 0.2);

//   div {
//     div:nth-child(1) {
//       // background-color: aqua;
//       margin-top: 0.8em;
//       margin-bottom: 0.8em;

//       font-size: medium;
//       font-weight: normal;
//       border: none;
//     }
//   }

//   .title {
//     div {
//       margin-top: 0.1em;
//       padding: 0;

//       // font-size: 1.5rem;
//       // font-weight: 700;
//       border: none;
//     }

//     :nth-child(1) {
//       padding-bottom: 10px;
//       border-bottom: 1px solid rgba(255, 255, 255, 0.2);
//       font-size: small;
//       opacity: 0.7;
//     }

//     border-right: 1px solid rgba(255, 255, 255, 0.2);
//   }

//   .date {
//     div {
//       margin-top: 0.1em;
//       padding: 0;

//       border: none;
//     }

//     :nth-child(1) {
//       padding-bottom: 10px;
//       border-bottom: 1px solid rgba(255, 255, 255, 0.2);
//       font-size: small;
//       opacity: 0.7;
//     }

//     border-right: 1px solid rgba(255, 255, 255, 0.2);
//   }

//   .nickname {
//     div {
//       margin-top: 0.1em;
//       padding: 0;

//       border: none;
//     }

//     :nth-child(1) {
//       padding-bottom: 10px;
//       border-bottom: 1px solid rgba(255, 255, 255, 0.2);
//       font-size: small;
//       opacity: 0.7;
//     }
//   }
// }
// .earth-search {
//   display: block;
// }
// // 극복 경험담 게시판
// // .earth-recover-list {
// //   margin-left: 100px;
// //   margin-right: 100px;

// //   display: flex;
// //   flex-direction: row;
// //   justify-content: space-evenly;
// //   flex-wrap: nowrap;

// //   // transition: all 0.3s;

// //   color: black;
// //   .card {
// //     width: 17rem;
// //     height: 17rem;

// //     border-radius: 100%;
// //     text-align: center;
// //     background-color: rgba(255, 255, 255, 1);
// //     padding: 10px;
// //     margin: 2rem;

// //     overflow: hidden;

// //     .card-body {
// //       width: 80%;
// //       margin-left: auto;
// //       margin-right: auto;

// //       display: flex;
// //       flex-direction: column;
// //       justify-content: space-evenly;

// //       border-color: transparent;
// //       text-overflow: ellipsis;

// //       .card-title {
// //         max-height: 3rem;
// //         overflow: hidden;
// //         text-overflow: ellipsis;
// //         display: -webkit-box;
// //         -webkit-line-clamp: 2;
// //         -webkit-box-orient: vertical;
// //       }
// //       .card-text {
// //         max-height: 9rem;

// //         overflow: hidden;
// //         text-overflow: ellipsis;
// //         display: -webkit-box;
// //         -webkit-line-clamp: 5;
// //         -webkit-box-orient: vertical;
// //       }
// //     }
// //   }
// // }
// .left-button {
//   position: fixed;
//   color: white;
//   top: 46%;
//   left: 2%;

//   font-size: 4rem;
// }
// .right-button {
//   position: fixed;
//   color: white;
//   top: 46%;
//   left: 95%;

//   font-size: 4rem;
// }
// .earth-recover-form {
//   .layer {
//     width: 80%;
//     height: 90vh;
//     margin-left: auto;
//     margin-right: auto;
//     background-color: rgba(0, 0, 0, 0.651);
//   }
// }
