body {
  &::selection {
    background-color: aqua;
  }
}

// canvas {
//   width: 100%;
//   height: 100%;
// }

// 모바일 버전
@media (orientation: portrait) {
  .home {
    position: absolute;
    width: 100%;
    height: 100%;

    // background-color: black;
    transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

    .login-btn {
      background-color: aqua;
      position: absolute;
      width: 7rem;
      height: 7rem;
      top: 9%;
      left: 60%;
      border-radius: 100%;
    }
    .signup-btn {
      position: absolute;
      background-color: wheat;
      width: 5rem;
      height: 5rem;
      left: 20%;
      top: 22%;
      border-radius: 100%;
    }
    .earth-btn {
      position: absolute;
      // background-color: palegreen;
      width: 9rem;
      height: 9rem;
      right: 7%;
      top: 40%;
      border-radius: 100%;

      // background-image: url(../styles/images/earth-btn.png);
    }
    .myplanet-btn {
      position: absolute;
      background-color: palevioletred;
      width: 6rem;
      height: 6rem;
      left: 8%;
      top: 46%;
      border-radius: 100%;
    }
    .newplanet-btn {
      position: absolute;
      background-color: pink;
      width: 5rem;
      height: 5rem;
      left: 20%;
      top: 70%;
      border-radius: 100%;
    }
    .mypage-btn {
      background-color: plum;
      position: absolute;
      width: 7rem;
      height: 7rem;
      left: 60%;
      top: 75%;
      border-radius: 100%;
    }
    .search-btn {
      div {
        display: none;
      }
    }
  }

  // .signup {
  //   .input-area {
  //     width: 100%;
  //     background-color: black;
  //   }
  // }
}

// 데스크탑 버전
@media (orientation: landscape) {
  .home {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
      &:hover {
        text-decoration: none;
      }
      &:visited {
        color: white;
      }
    }

    .first {
      width: 20%;
      height: 50%;

      display: flex;
      justify-content: center;
      align-items: center;

      .login-btn {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 1);

        width: 7rem;
        height: 7rem;
        border-radius: 100%;
        // box-shadow: 1px 1px 30px 3px rgba(172, 127, 255, 0.212);
        transition: all 0.8s cubic-bezier(0.47, 0, 0.745, 0.715);

        .login-title {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          font-size: 17px;
          font-weight: 600;
          // margin-top: -4px;
          text-shadow: 2px 2px 2px rgb(0, 0, 0);
          letter-spacing: 2px;
        }
        &:hover {
          border: none;
          box-shadow: 0 -350px 0 0 rgb(129, 129, 129) inset;
        }
      }
      .myplanet-btn {
        // logged 하고
        background: linear-gradient(
          45deg,
          rgba(10, 88, 255, 0.637),
          rgba(0, 0, 0, 0.356)
        );
        width: 7rem;
        height: 7rem;
        border-radius: 100%;
        box-shadow: 1px 1px 30px 3px rgba(172, 127, 255, 0.212);
        transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

        .myplanet-title {
          font-weight: 600;
          padding-top: 15px;
          text-shadow: 2px 2px 2px rgb(0, 0, 0);
          letter-spacing: -2px;

          span:nth-child(1) {
            font-size: 2rem;
          }
          span:nth-child(2) {
            font-size: 1rem;
          }

          // &:lang(en) {
          //   font-family: "Oswald";
          // }
        }

        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .second {
      // background-color: green;
      width: 20%;
      height: 90%;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .signup-btn,
      .logout-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        cursor: pointer;
        background-color: #000000;

        width: 7rem;
        height: 7rem;
        border-radius: 100%;
        box-shadow: 1px 1px 30px 3px rgba(247, 15, 104, 0.212);
        transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

        .signup-title,
        .logout-title {
          font-size: 20px;
          font-weight: 600;
          padding-top: 31px;
          text-shadow: 2px 2px 2px rgb(0, 0, 0);
          letter-spacing: -2.5px;

          &:lang(en) {
            font-family: "Oswald";
          }
        }

        &:hover {
          transform: scale(1.2);
        }
      }
      .earth-title {
        color: white;
        font-size: 1rem;
        font-weight: 600;
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
      }
      .earth-btn {
        width: 15rem;
        height: 15rem;
        border-radius: 100%;

        background-image: url(../styles/images/SVG/earth-btn.svg);

        transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
      }
      .newplanet-btn {
        background: linear-gradient(
          45deg,
          rgb(255, 255, 255),
          rgba(0, 0, 0, 0)
        );
        width: 7rem;
        height: 7rem;
        border-radius: 100%;
        // border: 1px solid rgba(255, 255, 255, 0.123);
        box-shadow: 1px 1px 30px 3px rgba(172, 127, 255, 0.212);
        opacity: 0.5;
        transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

        .material-icons {
          position: static;
          top: 0;
          left: 0;
          background-color: aqua;
        }

        .newplanet-title {
          font-size: 1rem;
          font-weight: 600;
          padding-top: 15px;
          text-shadow: 2px 2px 2px rgb(0, 0, 0);
          letter-spacing: -2px;

          &:lang(en) {
            font-family: "Oswald";
          }
        }
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .third {
      // background-color: blueviolet;
      width: 20%;
      height: 50%;

      display: flex;
      justify-content: center;
      align-items: center;

      .mypage-btn {
        background: linear-gradient(
          45deg,
          rgba(153, 0, 255, 0.637),
          rgba(93, 226, 32, 0.356)
        );
        width: 7rem;
        height: 7rem;
        border-radius: 100%;
        box-shadow: 1px 1px 30px 3px rgba(177, 141, 245, 0.212);
        // opacity: 0.5;
        transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

        .mypage-title {
          font-weight: 600;
          padding-top: 15px;
          text-shadow: 2px 2px 2px rgb(0, 0, 0);
          letter-spacing: -1px;

          span:nth-child(1) {
            font-size: 2rem;
          }
          span:nth-child(2) {
            font-size: 1rem;
          }

          &:lang(en) {
            font-family: "Oswald";
          }
        }

        &:hover {
          transform: scale(1.2);
        }
      }
      .myplanet-btn {
        background: linear-gradient(
          45deg,
          rgba(10, 88, 255, 0.637),
          rgba(240, 8, 170, 0.356)
        );
        width: 7rem;
        height: 7rem;
        border-radius: 100%;
        box-shadow: 1px 1px 30px 3px rgba(172, 127, 255, 0.212);
        // opacity: 0.5;
        transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

        .myplanet-title {
          font-weight: 600;
          padding-top: 15px;
          text-shadow: 2px 2px 2px rgb(0, 0, 0);
          letter-spacing: -1px;

          span:nth-child(1) {
            font-size: 2rem;
          }
          span:nth-child(2) {
            font-size: 1rem;
          }

          &:lang(en) {
            font-family: "Oswald";
          }
        }

        &:hover {
          transform: scale(1.2);
        }
      }
      .signup-btn {
        background-color: rgba(0, 0, 0, 1);

        width: 7rem;
        height: 7rem;
        border-radius: 100%;
        transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);

        .signup-title {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 17px;

          font-weight: 600;
          text-shadow: 2px 2px 2px rgb(0, 0, 0);
          letter-spacing: 2px;

          &:lang(en) {
          }
        }

        &:hover {
          border: none;
          box-shadow: 0 -350px 0 0 rgb(129, 129, 129) inset;
        }
      }
    }
  }

  .first,
  .second,
  .third {
    text-align: center;
  }

  // 회원가입
  .signup {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 1px 30px 3px rgb(255, 255, 255);
    // background: linear-gradient(
    //   45deg,
    //   rgba(255, 255, 255, 0.226),
    //   rgba(0, 0, 0, 0.356)
    // );

    .title {
      color: black;
      font-size: 20px;
      font-weight: 900;
      letter-spacing: 10px;
      margin-bottom: 10px;
      cursor: default;
    }
    .input-area {
      width: 30%;
      height: 80%;
      padding: 30px;

      color: black;
      border: 1px solid rgb(126, 126, 126);
      border-radius: 3px;

      // background: linear-gradient(
      //   45deg,
      //   rgba(0, 0, 0, 0.781),
      //   rgba(0, 0, 0, 0)
      // );
      background-color: rgba(0, 0, 0, 0.9);

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      div {
        color: white;
        font-size: 11px;
        font-weight: 00;
        letter-spacing: 1px;
        text-align: left;
        margin-bottom: -20px;
        cursor: default;
      }
      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 5%;
        border-radius: 2px 2px 2px 2px;

        background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.8);

        border: 1px solid rgba(255, 255, 255, 0.692);
        outline: none;
        color: black;

        transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

        &::placeholder {
          color: rgba(0, 0, 0, 0.514);
          margin: 10px;
          font-size: 13px;
          letter-spacing: 5px;
          padding-left: 2%;

          &:focus {
            background-color: rgba($color: #fff, $alpha: 1);
          }
        }
        &:focus {
          background-color: rgba($color: rgb(255, 255, 255), $alpha: 1);
          border: 1px solid rgb(0, 0, 0);
          color: black;
        }
      }
      select {
        padding: 3px;
        margin-bottom: 5%;
        border: 1px solid #999;
        border-radius: 0px; /* iOS 둥근모서리 제거 */
        outline: none;
        background-color: white;
        color: black;

        transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

        option {
          color: black;
          background-color: white;

          &:focus {
            cursor: pointer;
            border: 1px solid rgb(255, 255, 255);
          }
        }

        &::before {
          content: "가용할 추모 행성의 수";
        }
        &:focus {
          background-color: rgba($color: #fff, $alpha: 1);
        }
      }
      .api-area {
        background-color: bisque;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 5%;
      }
      button {
        color: white;
        background-color: rgba(0, 0, 0, 0.644);
        padding-top: 10px;
        padding-bottom: 10px;
        outline: none;
        border: 1px solid black;

        font-size: 1rem;
        font-weight: 700;
        border: none;

        transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);

        &:hover {
          box-shadow: 0 -120px 0 0 rgba(255, 255, 255, 0.5) inset;

          background-color: rgba($color: #ffffffa1, $alpha: 1);
          border-radius: 1px 1px 1px 1px;
          color: black;
        }
      }
    }
  }

  .search-btn {
    div {
      display: none;
    }
  }
}
