* {
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo", "Noto Sans KR", "Nanum Myeongjo", serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);

  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

  .login-modal {
    width: 40rem;
    height: 40rem;
    border-radius: 100%;
    background-color: white;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .material-icons {
      font-size: 3rem;
      margin-left: 20rem;
      margin-top: 5rem;
      z-index: 1000;
      float: inline-end;
      cursor: pointer;
    }
    .layer {
      width: 80%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .title {
        width: 100%;
        color: black;
        font-family: "Montserrat", sans-serif;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 10px;
        margin-bottom: -75px;
        margin-top: -150px;
      }
      .content {
        // background-color: blue;
        width: 70%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        div {
          color: black;
          font-family: "Montserrat", sans-serif;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 1px;
          margin-bottom: 10px;
          margin-left: 15px;
        }
        input {
          width: 100%;
          margin-bottom: 7%;
          padding: 13px;
          border-radius: 300px 300px 300px 300px;
          background-color: rgb(0, 0, 0);
          // background-color: rgb(255, 255, 255);
          border: 1px solid rgba(255, 255, 255, 0.4);
          outline: none;
          color: white;
          // padding-left: 2%;

          transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

          &::placeholder {
            color: rgba(255, 255, 255, 0.514);
            margin: 10px;
            font-size: 13px;
            letter-spacing: 5px;
            // text-align: center;
            padding-left: 2%;

            &:focus {
              background-color: rgba($color: #ffffff, $alpha: 1);
            }
          }
          &:focus {
            background-color: rgba($color: #ffffff, $alpha: 0.2);
            border: 4px solid rgb(0, 0, 0);
            color: black;
          }
        }
      }
      button {
        width: 70%;
        color: black;
        background-color: rgba($color: #e7e7e7a1, $alpha: 1);
        padding-top: 10px;
        padding-bottom: 10px;
        // outline: none;
        margin-top: -60px;
        border-radius: 1px 1px 1px 1px;

        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        font-weight: 700;
        border: none;

        transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);

        &:hover {
          background-color: rgb(0, 0, 0);
          color: white;
          // border: 1px solid black;
        }
      }
    }
  }
}
