* {
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo", "Noto Sans KR", "Nanum Myeongjo", serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// 데스크톱 버전
@media screen and (orientation: landscape) {
  .search {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: palevioletred;

    overflow-y: auto;
    .box {
      background-color: palegoldenrod;
    }
    .planets {
      width: 100%;
      height: 100%;
      background-color: paleturquoise;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      align-items: center;
      justify-items: center;

      .planet {
        width: 15rem;
        height: 15rem;
        background-color: peru;
        border-radius: 100%;
      }
    }
  }
}

// 모바일 버전
@media screen and (orientation: portrait) {
  .search {
    background-color: palegoldenrod;
  }
}
