.petloss {
  .sa {
    opacity: 0;
    transition: all 1.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }

  .sa.show {
    opacity: 1;
    transform: none;
  }

  .sa-down {
    transform: translate(0, -100px);
  }

  .sa-up {
    transform: translate(0, 100px);
  }

  .sa-right {
    transform: translate(-100px, 0);
  }

  .menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    z-index: 4;

    p {
      margin: 0;
      padding: 0;
      margin-right: 20px;
      margin-left: 20px;

      a {
        color: white;
      }
    }
  }

  #head {
    width: 100%;
    height: 1000px;
    padding-top: 50px;
    background: url("../assets/íŽ«2.png") no-repeat center;
    background-position: 0% 68%;
    background-size: cover;
    // mix-blend-mode: luminosity;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;

    .background {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      z-index: 1;
    }
    .text {
      position: relative;
      z-index: 2;
      margin-bottom: 100px;
      .title {
        font-weight: 900;
        color: white;
        background-color: black;
        // letter-spacing: 3px;
      }
      .sub {
        text-align: center;
        font-weight: 200;
        color: white;
      }
    }
  }

  .cure-title {
    position: absolute;
    z-index: 10;
    color: white;
    margin-top: 120px;
    margin-left: 100px;
    font-size: 20px;
    font-weight: 900;
    background-color: black;
  }

  #cure {
    width: 100%;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: default;

    div {
      width: 20%;
      height: 43%;
      margin-left: -80px;
      margin-right: -80px;
      background-color: white;
      color: black;
      border-radius: 10px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .img {
        width: 150px;
        mix-blend-mode: luminosity;
      }
      .rainbow {
        width: 150px;
        margin-bottom: 15px;
        mix-blend-mode: luminosity;
      }

      p {
        // margin-top: 15px;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: -3px;
      }
    }
  }
  #planet {
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;

    img {
      position: absolute;
      width: 60%;
    }

    .text {
      position: relative;
      z-index: 3;
      color: white;
      margin-bottom: 20px;
      font-weight: 900;
      text-align: center;
      // font-size: 30px;
    }
  }
}
