// * {
//   box-sizing: border-box;
//   font-family: "Apple SD Gothic Neo", "Noto Sans KR", "Nanum Myeongjo", serif;
// }

// html {
//   width: 100%;
//   height: 100%;
// }

// body {
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
// }

// // 데스크톱 버전
// @media screen and (orientation: landscape) {
//   .search {
//     position: absolute;
//     // width: 100%;
//     // height: 100%;
//     // background-color: palevioletred;

//     overflow-y: auto;
//     .box {
//       background-color: palegoldenrod;
//     }
//     .planets {
//       width: 100%;
//       height: 100%;
//       background-color: paleturquoise;

//       display: grid;
//       grid-template-columns: repeat(3, 1fr);
//       grid-template-rows: repeat(1, 1fr);
//       align-items: center;
//       justify-items: center;

//       .planet {
//         width: 15rem;
//         height: 15rem;
//         background-color: peru;
//         border-radius: 100%;
//       }
//     }
//   }
// }

// // 모바일 버전
// @media screen and (orientation: portrait) {
//   .search {
//     background-color: palegoldenrod;
//   }
// }

@media screen and (orientation: landscape) {
  .home-search {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .second {
      .search-area {
        // background-color: aquamarine;
        // margin-top: 0;
        position: absolute;
        top: 100px;

        input {
          color: black;
        }
      }
    }

    .search-datas {
      position: absolute;
      width: 100%;
      height: 70%;
      top: 170px;
      left: 0;
      //   height: 13rem;
      //   height: 30rem;

      //   background-color: aqua;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;

      overflow-y: scroll;
      //   margin-top: 60px;

      .id-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        .search-id {
          background-color: black;
          color: white;
          padding: 8px;
          font-size: 13px;
          font-family: sans-serif;
          font-weight: 700;
        }
        .down {
          width: 0px;
          height: 0px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 11px solid rgb(0, 0, 0);
          margin-bottom: -20px;
        }
      }

      .search-data {
        width: 10rem;
        height: 10rem;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.432);
        box-shadow: 1px 1px 50px 1px rgba(213, 196, 229, 0.938);
        color: white;
        text-shadow: 1px 1px 1px rgb(59, 59, 59);
        margin: 30px;
        // padding: 100px;
        border-radius: 100%;
        font-size: 0.85rem;
        font-weight: 700;

        display: flex;
        justify-content: center;
        align-items: center;
        // flex-basis: 13rem;

        .userNickname {
          font-size: 10rem;
        }
      }
    }
  }
}
